*, *::after, *::before, p {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainBit {
  height: 50%;
  width: 50%;
  min-height: 40rem;
  min-width: 40rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  background-color: rgba(0,0,0, 10%);
}

div.location-info {
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: pink;
}

div.location-info.condition {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: blue;
}

div.far {
  background-color: red;
  grid-row: 1/2;
  grid-column: 2/3;
}

div.cel {
  background-color: orange;
  grid-row: 2/3;
  grid-column: 2/3;
}